body {
  background-color: #000000;
}

ul {
  list-style-type: none;
}

.format {
   text-align: center;
}

h1 {
  text-align: center;
}

#notes {
  font-weight: bold;
}

.sidebar {
  background-color: #e0ebeb;
}
